.cursor {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    transform: translate(-50%, -50%);
    z-index: 999;
    pointer-events: none;
}